/* -------------------------------- controle container inicio ----------------------- */
.containerInicio {
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColorPrincipal);
  padding: var(--espacoLateralPagina);
  display: flex;
  justify-content: space-around;
  gap: 5em;
  align-items: center;
}
.inicioEsquerda {
  display: flex;
  flex-direction: column;
  width: 700px;
}
img {
  width: 700px;
  max-width: 100%;
  height: auto;
}
/* -------------------------------- caixa esquerda container inicio ----------------- */
.saudacao {
  color: var(--corTextoDestaque);
  text-transform: uppercase;
  font-weight: var(--pesoFonteNegrito);
  font-size: var(--tamanhoFonteSub1);
}
.meuNomeInicio {
  text-transform: uppercase;
  font-weight: var(--pesoFonteNegrito);
  font-size: var(--tamanhoFonteTitulo1);
}
.inicioApresentacao {
  color: var(--corTextoSuporte);
  text-align: justify;
}
.inicioBotaoContato {
  padding: var(--espacamentoBotaoPequeno);
  color: var(--corTextoBotao);
  background-color: var(--corBotaoFundo);
  border: var(--bordarBotao);
  width: fit-content;
  border-radius: 0.25em;
  margin-top: 1em;
  transition: var(--transicaoHover);
}
.inicioBotaoContato:hover {
  background-color: var(--corBotaoFundoHover);
}
/* -------------------------------- secao pessoal --------------------------------- */
.listaPessoal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
  border-top: 1px solid rgba(255, 255, 255, 0.149);
  border-bottom: 1px solid rgba(255, 255, 255, 0.149);
}

.itemPessoal,
.itemPessoal i {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

.itemPessoal a {
  display: flex;
  align-items: center;
}
/* -------------------------------- secao sobre mim --------------------------------- */
.containerSobreMim {
  height: 90vh;
  background-color: var(--backgroundColorSuportePrincipal);
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--espacoLateralPagina);
}
.saudacaoSobreMim {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: var(--tamanhoFonteSub2);
  font-weight: var(--pesoFonteNegrito);
}
.saudacaoSobreMim i {
  color: var(--corTextoDestaque);
}
.quemSouEu {
  width: fit-content;
  font-size: var(--tamanhoFonteTitulo2);
  font-weight: var(--pesoFonteNegrito);
}
.sobreMimResumo {
  color: var(--corTextoSuporte);
  text-align: justify;
}
.caixaSkills {
  margin: 0 auto;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
  padding: 0 3.5em;
  border-radius: 0.5em;
  background-color: var(--backgroundColorPrincipal);
}
.caixaSkills i {
  padding-right: 0.5em;
}
.skillJs,
.skillCss,
.skillHtml {
  background-color: var(--backgroundColorSuportePrincipal);
  font-size: var(--tamanhoFonteSub2);
  padding: var(--espacamentoBotaoMedio);
  border-radius: 0.5em;
  min-width: fit-content;
  max-width: 20em;
  width: 15em;
  text-align: center;
}
.downloadCvTop {
  margin: 0 auto;
  padding: var(--espacamentoBotaoPequeno);
  color: var(--corTextoBotao);
  background-color: var(--corBotaoFundo);
  border: var(--bordarBotao);
  width: fit-content;
  border-radius: 0.25em;
  margin-top: 1em;
  transition: var(--transicaoHover);
}
.downloadCvTop:hover {
  background-color: var(--corBotaoFundoHover);
}
/* -------------------------------- secao projetos texto --------------------------- */
.containerProjetos {
  background-color: var(--backgroundColorPrincipal);
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: var(--espacoLateralPagina);
}
.projetoTextoSub {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: var(--pesoFonteNegrito);
  font-size: var(--tamanhoFonteSub2);
}
.projetoTextoSub i {
  color: var(--corTextoDestaque);
}
.projetoTitulo {
  width: fit-content;
  font-size: var(--tamanhoFonteTitulo2);
  font-weight: var(--pesoFonteNegrito);
}
.exibicaoProjetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  margin-top: 2.5em;
}
.caixaProjeto {
  width: 27em;
  height: 14em;
  background-color: var(--backgroundColorSuportePrincipal);
  box-shadow: 0.2em 0.2em 0.3em 0 rgba(255, 255, 255, 0.25);
}
/* -------------------------------- img dos projetos ------------------------------- */
#projetoVeterinaria {
  background-image: url(img/projetoVeterinaria.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transicaoHover);
}
#projetoLoboMarinho {
  background-image: url(img/projetoLoboMarinho.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transicaoHover);
}
#projetoSpotify {
  background-image: url(img/projetoSpotify.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transicaoHover);
}
#projetoNubank {
  background-image: url(img/projetoNubank.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transicaoHover);
}
#projetoAnime {
  background-image: url(img/projetoAnime.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transicaoHover);
}
#projetoLogin {
  background-image: url(img/projetoLogin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transicaoHover);
}

#projetoVeterinaria:hover,
#projetoLoboMarinho:hover,
#projetoSpotify:hover,
#projetoNubank:hover,
#projetoAnime:hover,
#projetoLogin:hover {
  transform: scale(1.05);
}
/* -------------------------------- secao contato ---------------------------------- */
.containerContato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: var(--espacoLateralPagina);
  background-color: var(--backgroundColorSuportePrincipal);
}
.contatoTexto {
  width: 50%;
}
.contatoTitulo {
  width: fit-content;
  font-size: var(--tamanhoFonteSub1);
  font-weight: var(--pesoFonteNegrito);
}
.contatoTextoSub {
  width: fit-content;
  color: var(--corTextoSuporte);
}
.inicioBotaoContato {
  padding: var(--espacamentoBotaoPequeno);
  color: var(--corTextoBotao);
  background-color: var(--corBotaoFundo);
  border: var(--bordarBotao);
  width: fit-content;
  height: fit-content;
  border-radius: 0.25em;
  margin-top: 1em;
  transition: var(--transicaoHover);
}
.inicioBotaoContato:hover {
  background-color: var(--corBotaoFundoHover);
}
/* -------------------------------- secao final ----------------------------------- */
.containerFinal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.listaSocial {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}
.itemSocial i {
  font-size: 2em;
  transition: var(--transicaoHover);
}
.itemSocial i:hover {
  color: var(--corTextoSuporte);
}
